.inner {
    max-width: 600px;
    min-height: 800px;
    margin: 0 auto;
}

.form-control {
    max-width: 300px;
    border: none;
    border-bottom: 2px solid #818a91;
    margin: 50px auto;
    border-radius: 0%;
    text-align: center;

}

.form-control:focus {
    border-color: #818a91;
}

.btn-vgn {
    display: block;
    padding:0;
    margin: 0 auto;
    height: 65px;
    width: 65px;
    font-weight: bold;
    border-radius: 100%;
    background-color: #01DF74;
    color: #fff;
}

.btn-vgn:focus, .btn-vgn:active, .btn:active:focus{
    border-color: transparent;
    outline: none;

}

.btn-haltestelle {
    display: block;
    background-color: #f5f5f5;
    min-width: 350px;
    margin: 0 auto;

}

.alle-haltestellen {
    margin: 50px 0;
}


.btn:not(:first-child){
    margin-top: 5px !important;
}

#abfahrtenListe {
    list-style: none;
    padding: 20px;
}

.abfahrt-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #f5f5f5;
}

.produkt {
    width: 71px;
}

.soll {
    width: 70px;
}

.richtung{
    width: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ist {
    width: 53px;
    text-align: end;
}


@media (min-width: 450px){

    .inner {
        max-width: 800px;
    }


    .richtung {
        width: 45%;
    }

    #abfahrtenListe {
        padding: 40px;
    }

    .btn-haltestelle {

        min-width: 400px;

    }
}


@media (min-width: 780px){
    .inner {
        max-width: 1000px;
    }

    .produkt {
        width: 80px;
    }

}

